<h1>{{title}}</h1>
<div class="header">
</div>
<div class="container">
      <div class="addWalkersField">
            <button type="button" class="btn btn-info btn-lg modal-add-btn" data-toggle="modal" data-target="#myModal">Ajouter un ami</button>
        </div>
    </div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter un ami</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:center;">
                    <div class="listInput">
                        <input type="text" class="form-control secondPart firsttitle firstChild" id="inputMessage" ng-model="walker.name" placeholder="Nom">
                        <input type="text" class="form-control secondPart firsttitle firstChild" id="inputMessage" ng-model="walker.email" placeholder="Email">
                        <input type="text" class="form-control secondPart firsttitle firstChild" id="inputMessage" ng-model="walker.phone" placeholder="Téléphone">
                        <select ng-model="walker.experience" class="form-control"> 
                            <option value=""disabled selected hidden> Experience </option>
                            <option value="Occasionel">Occasionel</option>
                            <option value="Habitué">Habitué</option>
                            <option value="Sportif">Sportif</option>
                        </select>
                    </div>
                    <form>
                        <input class="parcourir" type='file' ng-model='walker.imageFile' base-sixty-four-input onchange="angular.element(this).scope().previewFile(this)">
                    </form>
                    <img id="preview" src="{{walkers.imageFile || 'img/logo.png'}}">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default addbutton1" ng-click="add()" style="float:right;">Ajouter</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<ul class="list-group" col-md-6>
    <li class="list-group-item" ng-repeat="walker in walkers | filter:{name: query} | orderBy:order">
        <form class=" form-inline">
            <div class="form-group secondForm">
                <img class="imgAdd" src="{{walker.imageFile || 'img/logo.png'}}" />
                <div class="listInput">
                    <input type="text" class="form-control" id="inputMessage" ng-model="walker.name" placeholder="Prénom">
                    <input type="text" class="form-control" id="inputMessage" ng-model="walker.email" placeholder="Email">
                    <input type="text" class="form-control" id="inputMessage" ng-model="walker.phone" placeholder="Téléphone">
                     <select ng-model="walker.experience" class="form-control"> 
                            <option value=""disabled selected hidden> Experience </option>
                            <option value="Occasionel">Occasionel</option>
                            <option value="Habitué">Habitué</option>
                            <option value="Sportif">Sportif</option>
                      </select>
                </div>
                <button type="submit" class="btn btn-default addbutton1" ng-click="update(walker)">Mettre à jour</button>
                <button type="submit" class="btn btn-danger" ng-click="delete(walker)">X</button>
                </span>
            </div>
        </form>
    </li>
</ul>