<img class="heart" src="../img/heart.png">
<div class="container welcome">
    <img class="logo" src="../img/logo.png">
    <img class="logo2" src="../img/logo2.png">
    <h1>Welcome in <span class="appName">SunWalk!</span></h1>
</div>


<p class="presentation">This apps has been developped for people who like :</p>

<div class="Three">
    <p class="presentation hiking">Hiking</p>
    <p class="presentation friends">+ Friends</p>
    <p class="presentation both">= <span class="hikColor">Hiking</span> with <span class="friendColor">friends</span></p>
</div>